---
http_interactions:
- request:
    method: get
    uri: http://wsf.cdyne.com/WeatherWS/Weather.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://ws.cdyne.com/WeatherWS/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://ws.cdyne.com/WeatherWS/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://ws.cdyne.com/WeatherWS/\">\r\n
        \     <s:element name=\"GetWeatherInformation\">\r\n        <s:complexType
        />\r\n      </s:element>\r\n      <s:element name=\"GetWeatherInformationResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetWeatherInformationResult\" type=\"tns:ArrayOfWeatherDescription\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"ArrayOfWeatherDescription\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"unbounded\" name=\"WeatherDescription\"
        type=\"tns:WeatherDescription\" />\r\n        </s:sequence>\r\n    [...]
- request:
    method: post
    uri: http://wsf.cdyne.com/WeatherWS/Weather.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ws.cdyne.com/WeatherWS/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetCityForecastByZIP><tns:ZIP>10028</tns:ZIP></tns:GetCityForecastByZIP></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://ws.cdyne.com/WeatherWS/GetCityForecastByZIP"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetCityForecastByZIPResponse
        xmlns="http://ws.cdyne.com/WeatherWS/"><GetCityForecastByZIPResult><Success>true</Success><ResponseText>City
        Found</ResponseText><State>NY</State><City>New York</City><WeatherStationCity>White
        Plains</WeatherStationCity><ForecastResult><Forecast><Date>2014-08-13T00:00:00</Date><WeatherID>1</WeatherID><Desciption>Thunder
        Storms</Desciption><Temperatures><MorningLow>66</MorningLow><DaytimeHigh>79</DaytimeHigh></Temperatures><ProbabilityOfPrecipiation><Nighttime>100</Nighttime><Daytime>100</Daytime></ProbabilityOfPrecipiation></Forecast><Forecast><Date>2014-08-14T00:00:00</Date><WeatherID>2</WeatherID><Desciption>Partly
        Cloudy</Desciption><Temperatures><MorningLow>60</MorningLow><DaytimeHigh>78</DaytimeHigh></Temperatures><ProbabilityOfPrecipiation><Nighttime>30</Nighttime><Daytime>30</Daytime></ProbabilityOfPrecipiation></Forecast><Forecast><Date>2014-08-15T00:00:00</Date><WeatherID>4</WeatherID><Desciption>Sunny</Desciption><Temperatures><MorningLow>59</MorningLow><D[...]
- request:
    method: get
    uri: http://www.predic8.com:8080/base/IDService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://predic8.com/wsdl/IDService/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://predic8.com/common/1/" targetNamespace="http://predic8.com/wsdl/IDService/1/" name="IDService">
            <types>
                <xsd:schema xmlns:ns1="http://predic8.com/common/1/" targetNamespace="http://predic8.com/wsdl/IDService/1/">
                    <xsd:import schemaLocation="http://www.predic8.com:8080/base/IDService?xsd=1" namespace="http://predic8.com/common/1/"></xsd:import>

                    <xsd:element name="generate" type="xsd:string"></xsd:element>
                    <xsd:element name="generateResponse" type="tns:GenerateResponseType"></xsd:element>

                    <xsd:complexType name="GenerateResponseType">
                        <xsd:sequence>
                            <xsd:element name="id" type="ns1:IdentifierType"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>

                </xsd:schema>
            </types>
            <message name="GenerateRequest">
                <part name="part1" element="tns:generate"></part>
            </message>
            <message name="GenerateResponse">
                <part name="part1" element="tns:generateResponse"></part>
            </message>
            <portType name="IDServicePT">
                <operation name="generate">
                    <input name="input1" message="tns:GenerateRequest"></input>
                    <output name="output1" message="tns:GenerateResponse"></output>
                </operation>
            </portType>
            <binding name="IDServiceBinding" type="tns:IDServicePT">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
                <operation name="generate">
                    <soap:operation></soap:operation>
                    <input name="input1">
                        <soap:body use="literal"></soap:body>
                    </input>
                    <output name="output1">
                        <soap:body use="literal"></soap:body>
                    </output>
                </operation>
            </binding>
            <service name="IDService">
                <port name="IDServicePort" binding="tns:IDServiceBinding">
                    <soap:address location="http://www.predic8.com:8080/base/IDService"></soap:address>
                </port>
            </service>
        </definitions>
  recorded_at: Wed, 10 Sep 2014 02:27:39 GMT
- request:
    method: post
    uri: http://www.predic8.com:8080/base/IDService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://predic8.com/wsdl/IDService/1/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:generate></wsdl:generate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"generate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:generateResponse
        xmlns:ns2="http://predic8.com/wsdl/IDService/1/"><id>-00016</id></ns2:generateResponse></S:Body></S:Envelope>
  recorded_at: Wed, 10 Sep 2014 02:27:39 GMT
recorded_with: VCR 2.9.3
